streamlit-pills==0.3.0
streamlit==1.33.0
SQLAlchemy==2.0.29
openai==1.23.6
google-generativeai==0.5.2
transformers==4.39.3
torch==2.2.2
qdrant-client==1.9.0
fastembed==0.2.6
python-dotenv==1.0.1
llama-index==0.10.32
llama-index-vector-stores-qdrant==0.2.8
llama-index-embeddings-fastembed==0.1.4
llama-index-llms-openai==0.1.16
llama-index-llms-groq==0.1.3